.card {
    position: relative;
    width: 100%;
    aspect-ratio: 4/3;
    cursor: pointer;
    border-radius: 24px;
    background: #0d0d0d;
    transition: all 0.3s ease;
    overflow: hidden;
    container-type: size;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.card:active {
    scale: 0.99;
    translate: 0 1px;
}

.innerWrapper {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    overflow: hidden;
    border-radius: 24px;
    clip-path: inset(0 round 24px);
    z-index: 1;
}

.effectLayer {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    transform: translateZ(0);
    translate: calc(var(--pointer-x, -10) * 50cqi) calc(var(--pointer-y, -10) * 50cqh);
    scale: 3.4;
    will-change: transform, filter;
    pointer-events: none;
}

.card:hover .effectLayer {
    opacity: 0.25;
}

.effectImg {
    width: 100px;
    user-select: none;
}

.content {
    position: relative;
    z-index: 10;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.borderEffect {
    pointer-events: none;
    position: absolute;
    inset: 0;
    z-index: 2;
    border-radius: 24px;
    border: 3px solid transparent;
    transform: translateZ(0);
    clip-path: inset(0 round 24px);
    backdrop-filter: blur(8px) saturate(2) brightness(1.2);
    mask: linear-gradient(#fff 0 100%) border-box, linear-gradient(#fff 0 100%) padding-box;
    mask-composite: exclude;
    -webkit-mask-composite: xor;
}

.svgFilter {
    position: absolute;
    height: 0;
    width: 0;
    overflow: visible;
    opacity: 0;
    pointer-events: none;
}

@media (max-width: 768px) {
    .card {
        aspect-ratio: auto;
        min-height: 350px;
    }
}